h2{
            text-align: center;
            margin-top: 50px;
            background-color: rgb(31, 29, 28);
            height: 50px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 35px;
            color: rgb(240, 194, 180);
        }

        button{
            margin-left: 20px;
            margin-top: 10px;
        }

        h3{
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 28px;
            color: rgb(240, 224, 251);
            margin-top: 30px;
        }

        p {
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
            color: rgb(142, 124, 117);
            margin: 20px 50px;
        }

        h4{
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 22px;
            color: rgb(189, 182, 180);
            margin-top: 20px;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 40%;
            min-width: 30%;
            margin-top: 20px;
            border: black 2px solid ;
            border-radius: 10px;
        }